div{
    height: 500px;
    width: 500px;
    background-image: url(https://avatarfiles.alphacoders.com/364/364538.png);
    background-size: cover;
    position: fixed;
    color: red;
    right: 0px;
    top: 100px;
    z-index: 1;
}